* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: #4caf4fbf;
  border-radius: 25px;
}

*::selection {
  background-color: #4400fd;
  color: white;
}

.main {
  max-width: 1920px;
  min-width: 320px;
  width: 100vw;
  margin: 0 auto;
}
